#addForm {
	margin-left: 30px; 
}

#addForm input{
    width: 300px;
    height: 30px;
    padding-left: 10px;
    margin-bottom: 0px; 
    font-size: 16px; 
    border-top: 1px solid #e1e8ec;
    border-right: 1px solid #eef2f5;
    border-bottom: 1px solid #eef2f5;
    border-left: 1px solid #e1e8ec;
    border-radius: 4px;
}

input[type="submit"]{
	margin-left: 5px;
    cursor: pointer;
    color: #185e87;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    padding-left: 21px;
    font-size: 18px;
    padding-right: 21px;
    text-shadow: 1px 1px 0 #c3e9f8;
    background-color: #94dffc;
}

input[type="submit"]:hover{
    background-color: #5ecef9;
}
